.Lines {
  height: 1.125rem;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 3.5rem auto 2.5rem auto;
}

.Line:nth-of-type(1n) {
  margin: 0 auto;
  width: 95%;
  height: 1px;
  background:linear-gradient(90deg, rgba(250,250,250,1) 1%, rgba(211, 210, 210, 0.753) 3%, rgb(172, 172, 172) 15%, rgb(187, 187, 187) 35%, rgb(187, 187, 187) 65%, rgb(172, 172, 172) 85%, rgba(211, 210, 210, 0.753) 97%, rgba(250,250,250,1) 99%);
}

.Line:nth-of-type(2n){
  margin: 0 auto;
  width: 99.5%;
  height: 1px;
  background:linear-gradient(90deg, rgba(250,250,250,1) 1%, rgba(211, 210, 210, 0.753) 3%, rgb(172, 172, 172) 15%, rgb(187, 187, 187) 35%, rgb(187, 187, 187) 65%, rgb(172, 172, 172) 85%, rgba(211, 210, 210, 0.753) 97%, rgba(250,250,250,1) 99%);
 
}

.Line:nth-of-type(3n){
  margin: 0 auto;
  width: 95%;
  height: 1px;
  background:linear-gradient(90deg, rgba(250,250,250,1) 1%, rgba(211, 210, 210, 0.753) 3%, rgb(172, 172, 172) 15%, rgb(187, 187, 187) 35%, rgb(187, 187, 187) 65%, rgb(172, 172, 172) 85%, rgba(211, 210, 210, 0.753) 97%, rgba(250,250,250,1) 99%);

}