.PodcastList__main_mobile {
  overflow-y: auto;
  -webkit-overflow-y-scrolling: touch;
  -webkit-mask-image: linear-gradient(to top, transparent, black 20px, black 90%, transparent);
  -ms-mask-image: linear-gradient(to top, transparent, black 20px, black 90%, transparent);
  -o-mask-image: linear-gradient(to top, transparent, black 20px, black 90%, transparent);
  -moz-mask-image: linear-gradient(to top, transparent, black 20px, black 90%, transparent);
  mask-image: linear-gradient(to top, transparent, black 20px, black 90%, transparent);
  height: 5.5rem;
  max-width: 17.5rem;
  text-align: center;
}

.PodcastsList__list_mobile{
  width: 100%;
}

.PodcastsList__list_mobile li {
  list-style: none;
  height: 2rem;
  background-color: var(--main_white);
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
}

.PodcastsList__list_mobile li a {
 text-decoration: none;
  color: grey;
  font-size: .85rem;
  font-weight: 500;
  width: auto;
  height: auto;
}


@media(min-width: 600px){
.PodcastsList__main.Open {
  width: 12rem;
  height: 9.5rem;
  margin-top: .5rem;
  border: 1px solid grey;
  border-radius: 1px;
  z-index: 2;
  -webkit-box-shadow: 10px 14px 11px -4px rgba(125, 125, 125, 0.38);
  -moz-box-shadow: 10px 14px 11px -4px rgba(125, 125, 125, 0.38);
  box-shadow: 10px 14px 11px -4px rgba(125, 125, 125, 0.38);
  position: absolute;
  top: 2.5rem;
  right: 8.25rem;
  overflow-y: auto;
  opacity: 1;
  -webkit-animation: list_animation .2s ease-out;
  animation: list_animation .2s ease-out;
}

.PodcastsList__main{
  width: 12rem;
  height: 0rem;
  margin-top: .5rem;
  border-radius: 1px;
  bordeR: 1px solid grey;
  z-index: 2;
  -webkit-box-shadow: 10px 14px 11px -4px rgba(125, 125, 125, 0.38);
  -moz-box-shadow: 10px 14px 11px -4px rgba(125, 125, 125, 0.38);
  box-shadow: 10px 14px 11px -4px rgba(125, 125, 125, 0.38);
  position: absolute;
  top: 2.5rem;
  right: 8.25rem;
  overflow-y: auto;
  opacity: 1;
  animation: list_animation_backwards .2s ease-in forwards;
  -webkit-animation: list_animation_backwards .2s ease-in forwards;
}


@-webkit-keyframes list_animation{
  0%{
    height: 0rem;
  }
  100%{
    heigh: 9.5rem;
  }
}
@keyframes list_animation{
  0%{
    height: 0rem;
  }
  100%{
    heigh: 9.5rem;
  }
}
@-webkit-keyframes list_animation_backwards{
  0%{
    height: 9.5rem;
    border: 1px solid grey;
  }
  100%{
    heigh: 0rem;
    border: 1px solid transparent;
  }
}
@keyframes list_animation_backwards {
  0%{
    height: 9.5rem;
    border: 1px solid grey;
  }
  100%{
    heigh: 0rem;
    border: 1px solid transparent;
  }
}

.PodcastsList__list {
  margin: 0 auto;
  display: flex; 
  flex-direction: column;
  width: 100%;
}

.PodcastsList__list li {
  list-style: none;
  height: 4rem;
  width: 100%;
  background-color: var(--main_white);
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  color: grey;
  font-size: .75rem;
  font-weight: 500;
  padding: 0 0.5rem;
}

.PodcastsList__list li:hover {
  color: var(--main_black);
  cursor: pointer;
  background-color: var(--main_grey);
}

.Indicator {
  color: grey;
  margin-left: 0.35rem;
  font-weight: 600;
}
.PodcastsList__list li:hover .Indicator{
  color: var(--main_black);
}

}





