.PodcastList__main_mobile {
  overflow-y: auto;
  -webkit-overflow-y-scrolling: touch;
  -webkit-mask-image: linear-gradient( to top, transparent, black 20px, black 90%, transparent);
  -ms-mask-image: linear-gradient( to top, transparent, black 20px, black 90%, transparent);
  -o-mask-image: linear-gradient( to top, transparent, black 20px, black 90%, transparent);
  -moz-mask-image: linear-gradient( to top, transparent, black 20px, black 90%, transparent);
  mask-image: linear-gradient( to top, transparent, black 20px, black 90%, transparent);
  height: 5.5rem;
  max-width: 17.5rem;
  text-align: center;
  margin: 1rem 0;
}

.PodcastsList__list_mobile {
  width: 100%;
}

.PodcastsList__list_mobile li {
  list-style: none;
  height: 2.5rem;
  background-color: var(--main_white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 0.85rem;
}

.PodcastsList__list_mobile li a {
  text-decoration: none;
  color: var(--primary_grey);
  font-size: 0.85rem;
  font-weight: 500;
  width: auto;
  height: auto;
}

@media (min-width: 600px) {
  .PodcastsList__main.Open {
    width: 12rem;
    height: 10.5rem;
    margin-top: 0.5rem;
    border: 1px solid var(--primary_grey);
    border-radius: 3px;
    z-index: 2;
    -webkit-box-shadow: 10px 14px 11px -4px rgba(125, 125, 125, 0.38);
    -moz-box-shadow: 10px 14px 11px -4px rgba(125, 125, 125, 0.38);
    box-shadow: 10px 14px 11px -4px rgba(125, 125, 125, 0.38);
    position: absolute;
    top: 2.5rem;
    right: 8.45rem;
    overflow-y: auto;
    opacity: 1;
  }
  button.Author, button.Author_mobile {
    display: flex;
    justify-content: flex-end;
  }
}

.PodcastsList__main.Close {
  height: 0rem;
  opacity: 1;
  transition: height 0.3s;
  animation: list_animation_backwards 0.2s ease-in forwards;
  -webkit-animation: list_animation_backwards 0.2s ease-in forwards;
}

.PodcastsList__main {
  width: 12rem;
  height: 10.5rem;
  margin-top: 0.5rem;
  border: 1px solid var(--primary_grey);
  border-radius: 3px;
  z-index: 2;
  -webkit-box-shadow: 10px 14px 11px -4px rgba(125, 125, 125, 0.38);
  -moz-box-shadow: 10px 14px 11px -4px rgba(125, 125, 125, 0.38);
  box-shadow: 10px 14px 11px -4px rgba(125, 125, 125, 0.38);
  position: absolute;
  top: 2.5rem;
  right: 8.25rem;
  overflow-y: auto;
  opacity: 1;
}

.PodcastsList__list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

button.Author_mobile {
  list-style: none;
  height: auto;
  width: 100%;
  background-color: var(--main_white);
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--primary_grey);
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0 0.5rem;
  border: none;
  outline: none;
}

button.Author {
  list-style: none;
  height: auto;
  width: 100%;
  background-color: var(--main_white);
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  color: var(--primary_grey);
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0 0.5rem;
  border: none;
  outline: none;
}

.Author_mobile.Clicked {
  color: var(--main_black);
  font-weight: 600;
  outline: 0;
  border: none;
}

button.Author.Clicked {
  background-color: var(--second_grey);
  color: var(--main_white);
}

.PodcastsList__list button.Author:hover {
  color: var(--main_black);
  cursor: pointer;
  background-color: var(--main_grey);
}

.Indicator {
  color: var(--primary_grey);
  margin-left: 0.35rem;
  font-weight: 600;
}

.PodcastsList__list button.Author:hover .Indicator {
  color: var(--main_black);
}

.PodcastsList__list button.Author.Clicked:visited {
  outline-color: var(--main_black);
  outline: 0;
}