.AuthorSection__layout{
  width: 100%;
  margin: 3rem auto 0 auto;
  height: auto;
}

.AuthorSection__layout h1 {
  font-size: 1.35rem;
  
  color: var(--main_black);
  text-decoration:underline;
  text-decoration-color: var(--ministry_grey);
  text-align: center;
  
  margin-bottom: 0;
}

.AuthorSection__layout_container {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem .75rem 0 .75rem;
  background-color: var(--main_white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(244, 241, 241);
  border: 1px solid rgb(235, 235, 235);
}


@media(min-width: 865px){
  .AuthorSection__layout_container {
    justify-content: space-around;
  }
  .AuthorSection__header_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    border: 1px solid red;
  }

  .Quote {
    width: 50%;
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .AuthorSection__header_container p {
    margin-bottom: 0;
    font-size: .75rem;
    text-align: left;
  }

  

}


/* @media(max-width: 850px){
  .AuthorSection__layout_container{
    justify-content: space-around;
  }
.AuthorSection__layout h1 {
  text-align: center;
}

}
 */

