.Template__layout {
  max-width: 800px;
  padding: 0 2.5vw 0 2.5vw;
  margin: 0 auto 4rem auto;
}

.Template__layout a {
  margin: 2rem 0;
}

.Header__layout {
  height: 20vh;
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
}

.Template__text {
  margin: 0 auto;
}
