.Layout__main {
  margin: 0 auto;
  padding-top: 1rem;
  max-width: 840px;
  background-color: var(--main_white);
}

.MainSection__ministry {
  max-width: 840px;
  height: 5.5rem;
  background-color: #919BA2;
  z-index: 100;
  margin: 0 auto;
  text-align: center;
}

.MainSection__ministry img {
  height: 100%;
}


