.Layout__main {
  margin: 0 auto;
  max-width: var(--main_width);
  height: auto;
  background-color: var(--main_white);
}

.MainSection__ministry {
  max-width: var(--main_width);
  height: 5.5rem;
  background-color: var(--ministry_grey);
  z-index: 100;
  margin: 0 auto;
  text-align: center;
}

.MainSection__ministry img {
  height: 100%;
}
.Developer{
  color: var(--third_grey); 
  font-size: .5rem;
  margin-bottom: 0;
  cursor: pointer;
  font-size: .7rem;
  text-decoration: none;
  transition: color .4s;
  -webkit-transition: color .4s;
}

.Developer:hover{
  color: var(--primary_white);
  transition: color .4s;
  -webkit-transition: color .4s;
}

