.PodcastElement__container {
  width: 30%;
  height: auto;
  border: 1px solid grey;
}

.PodcastElement__image {
  width: 100%;
  margin-bottom: 0;
}

.PodcastElement__content {
  height: auto;
}

.PodcastElement__content {
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: .125rem;
}

.PodcastElement__content p:first-of-type {
  margin-top: 0;
}

.PodcastElement__content h1 {
  font-size: 1rem;
  margin-bottom: 0;
}

.PodcastElement__content_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.New {
  background-color: var(--button_background);
  font-size: 1rem;
  color: white;
  border:3px solid var(--button_border);
  padding: 0 .75rem;
}



.PodcastElement__content_top p {
  font-size: .75rem;
  font-weight: 400;
  margin-bottom: 0;
}
