.PodcastElement__main {
  width: 12.5rem;
  margin-bottom: 1rem;
  
}

.PodcastElement__container  {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}


.PodcastElement__image_container {
  width: 100%;
  height: 8rem;
  margin-bottom: .25rem;
  background-image: url("../../assets/images/kot-opowiesc-o-konstantym-a-jeleskim.jpg");
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}

.PodcastElement__content {
  width: 10rem;
  height:auto;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 0.125rem;
}

.PodcastElement__content a {
  text-decoration: none;
  color: var(--man_black);
}

.PodcastElement__content a:hover {
  text-decoration: underline;
}


.PodcastElement__content p:first-of-type {
  margin-top: 0;
}

.PodcastElement__content h1 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.PodcastElement__content p {
  font-size: 0.75rem;
  margin-bottom: 1rem;
  font-weight: 300;
  line-height: 1.125rem;
}

.PodcastElement__content h1 span {
  text-transform: uppercase;
}

.PodcastElement__content_top {
  height: 1.85rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .35rem;
}

.PodcastElement__content_top p {
  font-size: 0.75rem;
  font-weight: 400;
  margin-bottom: 0;
}

.PodcastElement__content_listen {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--main_black);
}

.PodcastElement__content_listen div {
  width: 65%;
  display: flex;
  align-items: center;
}

.PodcastElement__content_listen div p {
  margin: 0 .75rem 0 0;
}

.PodcastElement__content_listen svg:nth-of-type(2)  {
  cursor: pointer;
}

.PodcastElement__content_listen a  {
  transform: translateY(-1%);
}

.PodcastElement__content_listen a p {
text-transform: lowercase;
} 
