
.Navigation__nav_main {
  width: 840px;
  height: auto;
  display: flex;
  align-items:flex-start;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -420px;
  z-index: 2;
}

.Navigation__container{
  margin-top: 1rem;
  height: 100%;
  width: 100%; 
  padding: .5rem 1rem .1rem 1rem;
  background-color: var(--main_white);
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: .2s;
}

.Navigation__container svg {
  position: relative;
  margin-right: 10rem;
}

.Modal__contact {
  position: absolute;
  top: 77.5%;
  right: -2.5%;
  transition: ease 1s;
}



.Navigation__container.Scroll {
margin-top: 0;
height: 40%;
padding: .25rem 1rem .5rem 1rem;
-webkit-box-shadow: 0px 6px 7px -1.95px rgba(189, 189, 189, 0.75);
-moz-box-shadow: 0px 6px 7px -1.95px rgba(189, 189, 189, 0.75);
box-shadow: 0px 6px 7px -1.95px rgba(189, 189, 189, 0.75);
border-bottom: .5px solid rgb(201, 201, 201);
transition: .1s;
}

.Navigation__nav_main ul {
  display: none;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  position: relative;
}

.Navigation__nav_main ul li  {
  list-style: none;
  letter-spacing: none;
  padding: .75rem 0;
}

.Navigation__list_link {
  text-decoration: none;
  color: var(--main_black);
  font-size: .85rem;
  font-weight: 500;
  display: inline-block;
  
}

.Navigation__list_link:hover {
  color: black;
}

.Navigation__list_link.Link_scroll {
  font-size: .875rem;
}

@media (min-width: 1005px) {
  .Navigation__container {
    justify-content: space-between;
  }
  .Navigation__nav_main ul {
    flex-direction: row;
  }
}

@media(min-width: 600px) {
 .Navigation__container  {
    flex-direction: row;
  }
  .Navigation__nav_main ul {
    flex-direction: row;
    margin: 0;
  }
.Navigation__nav_main ul li {
padding: .75rem .75rem;
}

.Navigation__nav_main ul li:nth-of-type(1n) {
  padding: .75rem .75rem .75rem .75rem;
}

.Navigation__nav_main ul li:nth-of-type(3n)  {
  padding: .75rem 0 .75rem .75rem;
}

}





