.Navigation__container {
  position: sticky;
  top: 0;
  width: 840px;
  max-width: 100%;
  height: 6.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: var(--main_white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  transition: all 0.1s;
  -webkit-box-shadow: 0px 6px 7px -1.95px rgba(189, 189, 189, 0.75);
  -moz-box-shadow: 0px 6px 7px -1.95px rgba(189, 189, 189, 0.75);
  box-shadow: 0px 6px 7px -1.95px rgba(189, 189, 189, 0.75);
  border-bottom: 0.5px solid rgb(201, 201, 201);
}

@media (min-width: 600px) {
  .Navigation__hamburger {
    display: none;
  }

  .Navigation__hamburger_close {
    display: none;
  }

  .Navigation__container {
    position: absolute;
    top: 0;
    width: 840px;
    max-width: 100%;
    height: 6.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: var(--main_white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
    transition: ease 0.15s;
    border-bottom: 1px solid var(--main_black);
    box-shadow: none;
  }

  .Navigation__container.Scroll {
    position: fixed;
    height: 4rem;
    -webkit-box-shadow: 0px 6px 7px -1.95px rgba(189, 189, 189, 0.75);
    -moz-box-shadow: 0px 6px 7px -1.95px rgba(189, 189, 189, 0.75);
    box-shadow: 0px 6px 7px -1.95px rgba(189, 189, 189, 0.75);
    border-bottom: 0.5px solid rgb(201, 201, 201);
    transition: ease 0.15s ;
  }
}
