.Ministry__layout {
  margin: 1.5rem 0 1.5rem 0;
  height: auto;
  display: flex;
  align-items: flex-end;
}

.Ministry__layout img {
  width: 10rem;
  margin-right: 1rem;
}
.Ministry__layout p {
  max-width: 40%;
  margin-bottom: 0;
  text-align: left;
  font-size: calc(.85rem - 25%);
  font-weight: bold;
  line-height: .75rem;
}