.Contact__layout {
  width: 15rem;
  height: 3rem;
  border: 1px solid var(--main_black);
  border-radius: 1px;
  background-color: white;
  z-index: 4;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  -webkit-box-shadow: 10px 14px 11px -4px rgba(125, 125, 125, 0.38);
  -moz-box-shadow: 10px 14px 11px -4px rgba(125, 125, 125, 0.38);
  box-shadow: 10px 14px 11px -4px rgba(125, 125, 125, 0.38);
}

.Contact__layout div:nth-of-type(1){
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center; 
  justify-content: flex-end;
  padding: .25rem;
}

.Contact__layout div:nth-of-type(2){
  height: 85%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Contact__layout div.Close {
  width: 15%;
  height: 100%;
  opacity: 0.3;
  transition: linear 0.2s;
}

div.Close:hover {
  opacity: 1;
  cursor: pointer;
  transition: linear 0.2s;
}

.Close:before, .Close:after {
  position: absolute;
  right: .55rem;
  top: .235rem;
  content: ' ';
  height: .75rem;
  width: 2px;
  background-color: black;
}
.Close:before {
  transform:rotate(45deg);
}
.Close:after {
  transform: rotate(-45deg);
}

.Contact__layout div:nth-of-type(2n) p {
  transform: translateY(-25%);
  margin: 0;
}

p {
  font-weight: 500;
  font-size: .85rem;
}

.Contact__layout div p a{
  text-decoration: none;
  color: grey;
}

.Contact__layout div p a:hover {
  color: var(--main_black);
  text-decoration:underline;
}





