.Contact__layout {
  position: absolute;
  top: 3rem;
  right: 0;
  width: 15rem;
  height: 3rem;
  border: 1px solid var(--primary_grey);
  background-color: var(--main_white);
  z-index: 4;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  -webkit-box-shadow: 10px 14px 11px -4px rgba(125, 125, 125, 0.38);
  -moz-box-shadow: 10px 14px 11px -4px rgba(125, 125, 125, 0.38);
  box-shadow: 10px 14px 11px -4px rgba(125, 125, 125, 0.38);
}



.Contact__layout div:nth-of-type(1n){
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center; 
  justify-content: flex-end;
  padding: .25rem;
}

.Contact__layout div:nth-of-type(2n){
  height: 85%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Contact__layout div.Close {
  width: 15%;
  height: 100%;
  opacity: 0.3;
}

div.Close:hover {
  opacity: 1;
  cursor: pointer;
  transition: linear .2s;
}

.Close:before, .Close:after {
  position: absolute;
  right: .55rem;
  top: .235rem;
  content: ' ';
  height: .75rem;
  width: 2px;
  background-color: var(--main_black);
}
.Close:before {
  transform:rotate(45deg);
}
.Close:after {
  transform: rotate(-45deg);
}

.Contact__layout div:nth-of-type(2n) p {
  transform: translateY(-22.5%);
  margin: 0;
}

p {
  font-weight: 500;
  font-size: .85rem;
}

.Contact__text_container_mobile{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  margin-bottom: 1rem;
  transform: translateX(5%);
}

.Contact__text_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  margin-bottom: 1rem;
}

.Contact__text_container p, .Contact__text_container_mobile p{
  margin: 0 1rem 0 0;
}

.Contact__text_container p a, .Contact__text_container_mobile p a{
  text-decoration: none;
  color: var(--primary_grey);
}

.Contact__text_container p a:hover {
  color: var(--main_black);
  text-decoration:underline;
}

 span.Close_button {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

span.Close_button::before {
  position: absolute;
  top: 45%;
  left: 17.5%;
  content: '';
  height: .1rem;
  width: 1rem;
  border-radius: 1px;
  background-color: var(--main_black);
  position: absolute;
  cursor: pointer;
}

span.Close_button::after {
  position: absolute;
  top: 45%;
  left: 17.5%;
  content: '';
  height: .1rem;
  width: 1rem;
  border-radius: 1px;
  background-color: var(--main_black);
  position: absolute;
  cursor: pointer;
}

span.Close_button::before {
  transform:translateY(25%) rotate(-45deg);
}

span.Close_button::after {
  transform: translateY(25%) rotate(45deg);
}







