
.Navigation__list {
  display: none;
}

.Navigation__list li  {
  list-style: none;
  letter-spacing: none;
}

.Navigation__list_link {
  text-decoration: none;
  color: var(--main_black);
  font-size: .85rem;
  font-weight: 500;
  height: 100%;
}

.Navigation__list_link:hover {
  color: black;
}

.Navigation__list_link.Link_scroll {
  font-size: .875rem;
}

@media(min-width: 600px) {
  .Navigation__list{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 16rem;
  height: 3rem;
  }
}