
@media(min-width: 600px) {
  .Logo {
  width: 10.25rem;
  height: 3.5rem;
  display: flex; 
  align-items: center;
  transition: ease .15s;
}

.Image {
  max-width: 100%;
  height: 100%;
    transition: ease .15s;
}
.Image_resize {
  max-width: 100%;
  height: 100%;
   transition: ease .15s;
}
.Resize {
  width: 7.25rem;
  height: 2.75rem;
  display: flex; 
  align-items: center;
  transition: ease .15s;
}
}




