.Logo__container {
  width: 153px;
  height: auto;
  display: flex;
  align-items: center;
}
.OnLoad{
  width: 153px;
  height: auto;
  display: flex;
  align-items: center;
}

img.Logo {
  -webkit-transform: scale(1);
  transform: scale(1);
  transform-origin: center left;
  -webkit-transition: transform 0.75s ease;
  -ms-transition: transform 0.75s ease;
  -moz-transition: transform 0.75s ease;
  -o-transition: transform 0.75s ease;
  transition: transform 0.75s ease;
  
}

@media (min-width: 600px) {
  img.Logo.Resize {
    -webkit-tranform: scale(0.8);
    transform: scale(0.8);
  }
}
