.Footer__main {
  width: 100%;
  height: auto;
  background-color: var(--main_black);
  display: flex;
  justify-content: center;
}

.Footer__container_normal {
  width: 840px;
  max-width: 100%;
  min-height: 4rem;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: .6rem 0 .4rem 0;
}

.Footer__container_narrow {
  width: 640px;
  height: 2.5rem;
  display: flex; 
  align-items: center;
  justify-content: center;
  border-top: none;
}


.Footer__logo_socialMedia {
  padding: .5rem auto;
  width: 2.5rem;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

 .Footer__logo_socialMedia svg {
  width: .522rem;
  height:auto;
  cursor:pointer;
  transition: ease 0.1s;
}

.Footer__logo_socialMedia svg:nth-of-type(2n) {
  width: 1rem;
}

.Footer__logo_socialMedia svg:hover path {
  fill: var(--main_white);
}

.Footer__text  {
  color: rgb(173, 173, 173); 
  font-size: .7rem;
  margin-bottom: 0;
}




