.Footer__main {
  width: 100%;
  height: auto;
  background-color: var(--main_black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Footer__container_normal {
  width: 840px;
  height: 75%;
  display: flex; 
  align-items: center;
  justify-content: flex-end;
  border-top: none;
  padding: .4rem 0 0.4rem .4rem;
  
}

.Footer__container_narrow {
  width: 640px;
  height: 75%;
  display: flex; 
  align-items: center;
  justify-content: center;
  border: 1.75px solid white;
  border-top: none;
  padding: .4rem 0 0.4rem .4rem;
}

.Footer__logo {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.Footer__logo img {
  width: 5rem;
  order: 1;
}

.Footer__logo svg {
  width: .45rem;
  height:auto;
  cursor:pointer;
  transition: ease 0.1s;
}

.Footer__logo svg:hover path {
  fill: var(--main_white);
}



.Footer__logo svg:nth-of-type(2n) {
  width: .975rem;
}

.Footer__logo_socialMedia {
  width: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateX(-50%);
}


.Footer__text {
  color: rgb(173, 173, 173); 
  font-size: .75rem;
  margin: .125rem;
}


