.Navigation__layout {
  margin: 0 0 1rem auto;
  display: flex;
  height: 20vh;
  padding: 1.25rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Navigation__list {
  width: 30%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  list-style: none;
  
}

.Navigation__list li {
  letter-spacing: none;
}

.Navigation__list li a {
  text-decoration: none;
  color: var(--main_black);
  font-size: 1.25rem;
  font-weight: 500;
}
