.Content__main {
  width: 800px;
  max-width: 100%;
  margin: 0 auto 2rem auto;
  height: auto;
}

.Content__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

@media(min-width: 320px){
  .Content__container {
    justify-content: space-around;
  }
}
@media(min-width: 800px){
  .Content__container {
    justify-content: space-between;
  }
}









