.Content__main {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  background-color: var(--main_white);
  display: flex;
  flex-direction: column;
}

.Content__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  padding-bottom: 2rem;
}

.Unpublished {
  height: auto;
  width: 12rem;
  position: absolute;
  background: red;
  z-index: 10;
}


@media(min-width: 675px){
  .Content__main{
    padding: 0 1rem 0 1rem;
  }
}

.Pagination__container{
  display: flex; 
  align-items: center;
  justify-content: center;
  max-width: 10rem;
  height: 3rem;
  margin: 0 auto;
}

.Pagination{
  list-style: none;
  display: flex; 
  text-align: center;
  justify-content: space-between;
  width: 100%;
  scroll-behavior: auto;
}

.Pagination__link {
  font-family: var(--main_font);
  font-size: .75rem;
  font-weight: 200;
  text-decoration: none;
  color:var(--second_grey);
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.Pagination__element{
  width: 1.85rem;
  height: 1.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}

.Pagination__element:hover {
  background-color: var(--main_grey);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color .1s;
}

.Active {
  font-size: .75rem;
  color: var(--main_black);
  font-weight: 900; 
}

.Previous, .Next {
  color: var(--second_grey);
}

.Link__prev {
 transform: translateX(-6.25%) translateY(2.85%);
}

.Link__next{
  transform: translateX(6.25%) translateY(2.85%);
}










