.NavigationMobile__layout {
  width: 100%;
  height: auto;
  background-color: var(--main_white);
  position: fixed;
  top: 6.25rem;
  left: 0;
  border-bottom: 2px solid var(--main_black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transform-origin: left;
}

.NavigationMobile__layout ul {
  list-style: none;
  text-align: center;
}

.NavigationMobile__layout ul li {
  padding: 1rem;
}

.NavigationMobile__layout ul a {
  text-decoration: none;
  color: var(--main_black);
}

.NavigationMobile__layout_close {
  width: 100%;
  height: auto;
  background-color: var(--main_white);
  position: fixed;
  top: 6.25rem;
  left: -100%;
  border-bottom: 2px solid var(--main_black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s linear;
  transform-origin: left;
}

.NavigationMobile__layout_close ul {
  list-style: none;
  text-align: center;
}

.NavigationMobile__layout_close ul li {
  padding: 1rem;
}

.NavigationMobile__layout_close ul a {
  text-decoration: none;
  color: var(--main_black);
}

@media (min-width: 600px) {
  .NavigationMobile__layout {
    display: none;
  }

  .NavigationMobile__layout_close {
    display: none;
  }
}
